*~
*.pyc
*.user
#*#
*.bkp
build/
install/
log/
PushAllChanges.py

# ROS2 build / install / log folders
/build/
/install/
/log/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Otros archivos temporales del sistema
.DS_Store
Thumbs.db

# Virtual environments
yolo_venv/
venv/

# Modelos grandes YOLO
*.pt
*.onnx

# Datasets
dataset_yolo/

# Resultados YOLO
runs/

# ROS2 build system
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# Archivos temporales
*.csv~
*.temp
