<?xml version="1.0"?>

<robot name="justina_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="torso_radius" value="0.03"/>       
    <xacro:property name="torso_height" value="0.7"/>
    <xacro:property name="torso_mass" value="1.0"/>
    <xacro:property name="torso_inertia_x" value="${1.0/12.0 * torso_mass * (3*torso_radius*torso_radius + torso_height*torso_height)}"/>
    <xacro:property name="torso_inertia_y" value="${1.0/12.0 * torso_mass * (3*torso_radius*torso_radius + torso_height*torso_height)}"/>
    <xacro:property name="torso_inertia_z" value="${1.0/2.0 * torso_mass * torso_radius * torso_radius}"/>

    <!-- Left Wheel -->
    <link name="torso_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${torso_radius}" length="${torso_height}"/>
            </geometry>
            <material name="torso_material">
                <color rgba="0.05 0.2 0.95 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="${torso_radius}" length="${torso_height}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${torso_mass}"/>
            <inertia ixx="${torso_inertia_x}" ixy="0.0" ixz="0.0" iyy="${torso_inertia_y}" iyz="0" izz="${torso_inertia_z}"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </inertial>
    </link>

    <link name="realsense_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.02 0.1 0.02"/>
        </geometry>
        <material name="camera_material">
          <color rgba="0.05 0.05 0.05 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.02 0.1 0.02"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.4"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0" izz="0.001"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>       
      </inertial>
    </link>
    <joint name="torso_camera_joint" type="fixed">
      <origin xyz="0.0 0.0 0.36" rpy="0 0.8 0"/>
      <parent link="torso_link"/>
      <child link="realsense_link"/>
    </joint>

    <gazebo reference="realsense_link">
      <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>30</update_rate>
        <topic>camera/image_raw</topic>
        <gz_frame_id>camera_rgb_frame</gz_frame_id>
        <camera name="intel_realsense_r200">
          <camera_info_topic>camera/camera_info</camera_info_topic>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

</robot>
